# PhpStorm etc
/.idea
.DS_Store

# Vagrant
/.vagrant

# Composer
/bin/
/vendor/

# Symfony directories
/app/bootstrap.php.cache
/app/config/parameters.yml
/app/cache/*
/app/logs/*
/app/build/*
/app/data/*

# Node.JS
/node_modules/
/typings/

# Generated assets
/web/build-script/
/web/css/
/web/js/
