<ul class="main-menu">
    <li class="active">
        <a href="#">
            <img src="images/rules.svg" alt="">
            Taisyklės
        </a>
    </li>
    <li>
        <a href="#">
            <img src="images/team.svg" alt="">
            Komanda
        </a>
    </li>
    <li>
        <a href="#">
            <img src="images/stats.svg" alt="">
            Statistika
        </a>
    </li>
    <li>
        <a href="#">
            <img src="images/questions.svg" alt="">
            Klausimai
        </a>
    </li>
</ul>