{% extends 'base.html.twig' %}

{% set appName = 'basic' %}
{% set pageClass = 'common-page' %}

{% block body %}

    <img class="idle-robot" src="{{ asset('images/idle_robot.svg') }}" alt="">

    <section class="container content">
        {% include 'partials/menu.html.twig' %}

        <h1>
            List of questions
        </h1>

        <ul>
            {% for question in questions %}
                <li>
                    {{ question.text }}<br>
                    {% if question.answered %}
                        {{ question.answer }}
                    {% else %}
                        NEATSAKINĖJAI
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}