{% extends 'base.html.twig' %}

{% set appName = 'basic' %}
{% set pageClass = 'common-page' %}

{% block body %}

    <img class="idle-robot" src="{{ asset('images/idle_robot.svg') }}" alt="">

    <section class="container content">
        {% include 'partials/menu.html.twig' %}

        <h1 class="inner-page-header">
            List of questions
        </h1>

        <ul class="my-team-list list-questions">
            {% for question in questions %}
                <li>
                    <strong>{{ question.text }}</strong>
                    {% if question.answered %}
                        {{ question.answer }}
                    {% else %}
                        NEATSAKINĖJAI
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}