{% extends 'base.html.twig' %}

{% set appName = 'basicRegister' %}

{% block title %}Registracija į žaidimą{% endblock %}

{% block body %}
    <section class="tablet-container content">
        <p>Jėga! Išsiuntėme nuorodą su prisijungimo forma tau į el. paštą ;)</p>
        <p>P.S el. paštą gali pasitikrinti naršyklėje: <a href="https://webmail.nfq.lt">https://webmail.nfq.lt</a></p>
    </section>
    <a href="/">Žaidimas</a>
{% endblock %}
