{% extends 'base.html.twig' %}

{% set appName = 'basicRegister' %}

{% block title %}Registracija į žaidimą{% endblock %}

{% block body %}
    <section class="tablet-container content">
        <h1>Registracija į žaidimą pavyko!</h1>
        <p>Pasitikrink savo NFQ el. pašto adresą ir patvirtink registraciją!</p>
    </section>
{% endblock %}
