{% extends 'base.html.twig' %}

{% set appName = 'basic' %}
{% set pageClass = 'common-page' %}

{% block body %}

    <img class="idle-robot" src="{{ asset('images/idle_robot.svg') }}" alt="">

    <h1 class="idle-title">
        NO RULES YET
    </h1>
{% endblock %}