{% extends 'base.html.twig' %}

{% set appName = 'basic' %}
{% set pageClass = 'common-page' %}

{% block body %}

    <img class="idle-robot" src="{{ asset('images/idle_robot.svg') }}" alt="">

    <section class="container content">
        {% include 'partials/menu.html.twig' %}

        <h1 class="inner-page-header">
            Žaidimo taisyklės
        </h1>

        <p>
            Žaidimas pradedas 2015 rugsėjo 4d. 10:15. Visi registruoti žaidėjai paskirstomi į komandas atsitiktine tvarka.
        </p>
        <p>
            Žaidimo tikslas - atsakyti į kuo daugiau pateiktų klausimų. Individualus žaidėjo rezultatas priklauso nuo asmeniškai atsakytų teisingų klausimų skaičiaus.
        </p>
        <p>
            Komandos įvertinimą lemia bendras teisingų atsakymų santykis (už visos komandos dalyvavimą taikomi taškų priedai).
        </p>
        <p>
            Jei komandos žaidėjai visi atsako teisingai į klausimą, tai komanda gauna +10% papildomų taškų.
        </p>
        <p>
            Žaidimo pabaigoje laimi rezultatyviausia komanda ir rezultatyviausias žaidėjas (kuris nebūtinai turi būti iš geriausios komandos). Visi laimėtojai gauna PRIZĄ. Komanda - komandinį, rezultatyviausio rezultato savininkas - individualų (išmanųjį telefoną).
        </p>
        <p>
            Esant lygiosioms, laimėtojas (-ai) išrenkami pasinaudojus random funkcija.
        </p>
    </section>
{% endblock %}