{% extends "FOSUserBundle::layout.html.twig" %}

{% set appName = 'basicRegister' %}
{% set pageClass = 'common-page' %}

{% block title %}Registracija į žaidimą{% endblock %}

{% block fos_user_content %}
    <a href="/" class="logo">
        <img src="{{ asset('images/logo_large.svg') }}" alt="">
    </a>

    <p>Super! Išsaugojome tavo slaptažodį.</p>
    <a class="success-button" href="/">ŽAIDIMAS. TEMPK JĮ ČIA.</a>
{% endblock fos_user_content %}
