{% extends "FOSUserBundle::layout.html.twig" %}

{% set appName = 'basicRegister' %}
{% set pageClass = 'common-page' %}

{% block title %}Slaptažodžio priminimas{% endblock %}

{% block fos_user_content %}
    <a href="/" class="logo">
        <img src="{{ asset('images/logo_large.svg') }}" alt="">
    </a>

    <p>Priminimas išsiųstas.</p>
    <p>Sek nurodymus el. laiške.</p>
{% endblock fos_user_content %}
