@import '../../../node_modules/base/less/style';
@import '_variables';
@import '_assets';

// Page specific style
@import 'pages/_login';
@import 'pages/_common';

html,
body {
    height: 100%;
}

@footer-height: 38px;

.content {
    position: relative;
    min-height: 100%;
    max-width: 410px;
    padding: 0 10px;
    margin: 0 auto;
    margin-bottom: -@footer-height;

    &::after {
        content: '';
        display: block;
        height: @footer-height;
    }
}

.content-inner {
    width: @tablet-container;
}

.footer {
    height: @footer-height;
}

a {
    color: #fc6b0e;
}

// Clearfix
.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
.clearfix {
    zoom:1;
}